# 🔥 Firebase uploader (personal folder)
firebaseUploader/

# 📦 Node modules
node_modules/

# 🏗️ Build outputs
dist/
dist-ssr/
build/

# 🌐 Local environment configs
*.local
.env
.env.local
.env.*.local

# 📄 Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# 🧠 Editor config (VSCode, JetBrains, etc.)
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store

# 🎯 Visual Studio project files
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
