@font-face {
    font-family: 'Poppins';
    src: url('/assets/fonts/Poppins-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Delicious Handrawn';
    src: url('/assets/fonts/DeliciousHandrawn-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: sans-serif;
    margin: 0;
    padding: 1rem;
    position: relative;
    overflow-x: hidden;
}

/* Imagen flotante decorativa */
body::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-image: url("../../assets/logo/logo-junto-negro.png");
    background-size: 120px;
    background-repeat: repeat;
    background-position: center;
    z-index: 999;
    pointer-events: none;
    filter: brightness(100);
    opacity: 0.03;
    z-index: -10;
    overflow: hidden;
}

.tituloPrincipal {
    display: inline-block;
    font-family: var(--title-font), sans-serif;
    font-size: 3.5rem;
    margin: 0 5%;
    margin-top: 2rem;
    padding: 0;
    line-height: 1;
    border-bottom: 2px solid var(--color-principal);
    text-transform: uppercase;
}

.tituloSecundario {
    font-family: var(--title-font), sans-serif;
    font-size: 1.5rem;
    margin: 0 5%;
    margin-bottom: 3rem;
    padding: 0;
}

/* tarjeta mensaje sin stock */
.product-item.no-results {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    background: var(--color-secundario);
    border-radius: 8px;
    text-align: center;
    color: var(--color-principal);
    font-family: var(--title-font);
}

/* spinner */
@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

/* productos de carga */
.skeleton {
    opacity: 0.5;
    animation: pulse 1.5s infinite ease-in-out;
}

.skeleton-box {
    width: 100%;
    height: 200px;
    background: var(--color-secundario);
}

.skeleton-line {
    height: 16px;
    background: var(--color-secundario);
    margin-bottom: 10px;
    border-radius: 4px;
}

.skeleton-line.short {
    width: 50%;
}

.skeleton-button {
    width: 100px;
    height: 40px;
    background: var(--color-fondo);
    border-radius: 4px;
}

@keyframes pulse {
    0% {
        background-color: var(--color-secundario);
    }

    50% {
        background-color: var(--color-principal);
    }

    100% {
        background-color: var(--color-fondo);
    }
}

/* general */
.app-container {
    max-width: 1200px;
    min-height: 100svh;
    margin: 0 auto;
}

/* header */
.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 5%;
    background-color: #f5f5f500;
}

.logo {
    height: 100px;
    border-radius: 100%;
    filter: brightness(10);
}

.cartIcon {
    position: relative;
    cursor: pointer;
    width: 50px;
}

.cartSVG {
    width: 48px;
    height: 48px;
}

.cartCount {
    position: absolute;
    top: -6px;
    right: 0px;
    background-color: var(--color-principal);
    border-radius: 50%;
    padding: 2px 6px;
    font-family: var(--title-font), sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    min-width: 20px;
    text-align: center;
    user-select: none;
    pointer-events: none;
    border-radius: 999px;
}

/* filtros */
.filters {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin-bottom: 1rem;
    flex-wrap: wrap;
    padding: 0 5%;
}

.filters input,
.filters select {
    padding: 0.75rem;
    font-size: 1.2rem;
    border: none;
    border-bottom: 2px solid rgba(99, 99, 99, 0.377);
    background-color: transparent;
    color: rgb(129, 129, 129);
    min-width: 150px;
    font-family: var(--title-font);
}

/* Color para los grupos (label de optgroup) */
.filters select optgroup {
    font-weight: bold;
    background-color: #514d4d;
    color: #c5c5c5;
}

.filters select option {
    background-color: #333;
    color: #d1cece;
}

/* lista de productos */
.product-list {
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    justify-content: center;
    gap: 1rem;
}

/* producto item */
.product-item {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-flow: column;
    background: var(--color-secundario);
    /* Fondo translúcido más claro */
    border-radius: 12px;
    color: var(--color-principal);
    width: 22%;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow:
        0 1px 2px rgba(255, 255, 255, 0.04),
        0 8px 32px rgba(0, 0, 0, 0.25);
    /* Para que el brillo no sobresalga */
    transition: .4s;
}

.product-item:hover {
    will-change: transform;
    transform: translateY(-6px);
    box-shadow: 0 8px 20px rgba(255, 255, 255, 0.044), 0 2px 6px rgba(0, 0, 0, 0.06);
    transition: .4s;
}

.product-item .image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    min-height: 280px;
    padding-bottom: 0.5rem;
}

.product-item .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px 4px 0 0;
}

.product-item .info {
    position: relative;
    display: flex;
    flex-flow: column;
    justify-content: center;
    height: 100%;
    width: auto;
    padding: 0 1rem;
    min-width: 200px;
    overflow: hidden;
}


/* Imagen flotante decorativa */
.product-item .info::after {
    content: "";
    position: fixed;
    bottom: 0;
    right: 0;
    width: 500px;
    height: auto;
    background-image: url("../../assets/logo/B-negro.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom right;
    transform: rotate(-8deg);
    z-index: 999;
    pointer-events: none;
}

.product-item .info .productTitle {
    font-size: 1.2rem;
    font-family: var(--text-font), Courier, monospace;
    font-weight: 700;
    margin: 0;
}

.product-item .info .description {
    font-size: 0.8rem;
    font-family: var(--text-font), Courier, monospace;
    margin: 0;
    width: 90%;
}

.description-container {
    position: relative;
    max-height: 4.5em;
    /* aprox 3 líneas */
    line-height: 1.5em;
    overflow: hidden;
    position: relative;
    transition: max-height 0.3s ease;
    padding-right: 8px;
}

.description-container.expanded {
    /* suficiente para leer más */
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 4px;
    /* espacio para scrollbar */
}

/* Scrollbar bonito */
.description-container::-webkit-scrollbar {
    width: 4px;
    background-color: var(--color-secundario);
}

.description-container::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
}

.toggle-description {
    position: absolute;
    bottom: 0;
    right: 0;
    background: none;
    border: none;
    color: var(--color-principal);
    font-size: 1.8rem;
    cursor: pointer;
    margin-top: 4px;
    display: block;
}

.product-item .info .price {
    font-size: 2rem;
    font-family: var(--title-font), sans-serif;
    font-weight: 700;
    margin: 0.5rem 0 1rem;
}

.button-row {
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
}

/* producto item parte derecha */
.product-item .cta {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    padding-top: 0;
    min-width: 150px;
    box-sizing: border-box;
}

/* Nuevo contenedor interno */
.product-item .cta-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

/* Categoría arriba */
.product-item .categoria {
    position: absolute;
    top: 0.4rem;
    right: 0;
    width: auto;
    display: flex;
    align-items: end;
    justify-content: center;
    color: var(--color-fondo);
    margin: 0;
    margin-right: 2px;
    font-size: 0.8rem;
    text-transform: capitalize;
    align-self: flex-end;
}

.categoria span {
    font-family: var(--text-font), Courier, monospace;
    display: inline-block;
    margin: 0 3px;
    padding: 0.2rem 0.6rem;
    background: var(--color-secundario);
    color: var(--color-principal);
    border-radius: 8px;
    border: 1.5px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    box-shadow: 0 2px 8px rgba(255, 255, 255, 0.077);
    cursor: default;
    font-size: 0.6rem;
}

/* Botón centrado */
.product-item .cta-content button {
    padding: 0.5rem 0.5rem;
    margin: 0.5rem 0;
    width: max-content;
    background: transparent;
    color: var(--color-principal);
    border: none;
    cursor: pointer;
    transition: .4s;
    font-family: var(--title-font), Courier;
    font-size: 1.4rem;
    border-radius: 0.2rem;
}

.product-item .cta-content button:first-of-type {
    text-decoration: underline;
}

.product-item .cta-content button:last-of-type {
    font-size: 3rem;
}

/* Botón centrado */
.product-item .cta-content button:hover {
    background: var(--color-fondo);
    transition: .6s;
}

/* Stock abajo */
.product-item .stock {
    font-family: var(--title-font), Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2rem;
    color: var(--color-principal);
}

.stock span {
    font-family: var(--text-font), Courier, monospace;
    font-weight: 400;
    font-size: 0.75rem;
    color: var(--color-fondo);
}

/* boton eliminar prodcutos */
.product-item.fade-in {
    animation: fadeIn 0.3s forwards;
}

.product-item.fade-out {
    animation: fadeOut 0.3s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
        transform: translateY(0);
    }

    to {
        opacity: 0;
        transform: translateY(10px);
    }
}

/* modal de compra */
.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: 0.2s ease, opacity 0.2s ease;
    z-index: 100;
}

.modal-backdrop.visible {
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    opacity: 1;
}

.modal {
    background: var(--color-secundario);
    /* fondo translúcido */
    border: 1px solid rgba(255, 255, 255, 0.1);
    /* borde difuso */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    /* compatibilidad Safari */
    box-shadow:
        0 2px 4px rgba(255, 255, 255, 0.05),
        0 8px 20px rgba(255, 255, 255, 0.08),
        0 0 4px rgba(255, 255, 255, 0.03);

    padding: 1.5rem;
    border-radius: 8px;
    min-width: 25%;
    width: 40%;
    height: 80%;
    position: relative;
    transform: scale(0.95);
    opacity: 0;
    transition: opacity 0.2s ease, transform 0.2s ease;
    overflow-y: auto;

}

.fade-in {
    opacity: 1;
    transform: scale(1);
}

.fade-out {
    opacity: 0;
    transform: scale(0.95);
}

.modal .close {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    background: none;
    font-size: 4rem;
    font-family: var(--title-font);
    color: var(--color-fondo);
    cursor: pointer;
}

.modal-content img {
    width: 100%;
    border-radius: 0.2rem;
    height: auto;
    margin: 1rem 0;
}

.modalTitle {
    font-size: 1.5rem;
    font-family: Verdana, sans-serif;
    font-weight: 700;
}

.modalPrice {
    font-size: 1.2rem;
    font-family: Verdana, sans-serif;
    font-weight: 700;
}

.modalText {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
    letter-spacing: 1px;
    line-height: 1.2;
    margin-bottom: 1rem;
    text-align: center;
}

.modalText:first-of-type {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 3rem;
}

.modalText:nth-of-type(2) {
    text-align: start;
}

.modalText:nth-of-type(3) {
    margin-top: 4rem;
}

.modal-content form {
    display: flex;
    flex-wrap: wrap;
    /* permite que los inputs salten a la siguiente línea */
    gap: 1rem;
    /* espacio entre columnas y filas */
    justify-content: space-between;
    width: 100%;
}


.metodo-entrega-label {
    width: 100%;
    margin: 1rem 0;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
    letter-spacing: 1px;
    line-height: 2;
}

.metodo-entrega-label select {
    border: none;
    display: block;
    width: 100%;
    padding: 0.5rem;
    margin-top: 0.25rem;
    font-size: 1rem;
    color: var(--color-principal);
    background-color: var(--color-fondo);
}

.metodo-entrega-label select:focus {
    background-color: var(--color-fondo);
    color: var(--color-principal);
}

.modal-content form input,
.modal-content form button {
    /* dos columnas con algo de espacio entre ellas */
    padding: 0.75rem;
    font-size: 1rem;
    border: none;
    border-bottom: 2px solid rgb(187, 185, 185);
    border-radius: 0;
    box-sizing: border-box;
}

.modal-content form input {
    width: 48%;
    background-color: var(--color-fondo);
    color: var(--color-principal);
}

.modal-content>form>input:nth-of-type(-n+3) {
    width: 100%;
}

.modal-content form button {
    width: 108%;
}

.modal-product-item {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    width: 85%;
    background-color: transparent;
    padding: 1rem 1rem;
    font-size: 1.5rem;
    font-family: var(--title-font);

}

.modal-product-item.agotado {
    background-color: #ffcccc8b;
    border: 1px solid red;
}

.productoAgotadoMensaje {
    font-family: var(--title-font);
    color: rgb(255, 24, 24);
    font-size: 1rem;
    width: 100%;
    text-align: center;
}

.btn-eliminar-agotados {
    font-family: var(--title-font);
    background-color: rgb(238, 51, 51);
    color: white;
    border: none;
    padding: 8px 15px;
    margin-bottom: 1rem;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    width: 100%;
    transition: .3s;
}

.btn-eliminar-agotados:hover {
    background-color: rgb(231, 6, 6);
}

.delete-btn {
    font-family: var(--title-font);
    font-size: 3rem;
    border: none;
    color: var(--color-principal);
    background-color: transparent;
    transition: .5s;
    cursor: pointer;
}

.delete-btn:hover {
    color: rgb(231, 231, 231);
    transition: .5s;
}

.totalContainer {
    text-align: center;
    margin: 1rem 0;
    font-size: 1.2rem;
}

.checkbox-confirmacion {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: 1rem 0;
    font-size: 1.5rem;
    color: var(--color-principal);
    font-family: var(--title-font), sans-serif;
    /* o el color de texto que estés usando */
}

.checkbox-confirmacion input[type="checkbox"] {
    width: 22px;
    height: 22px;
    cursor: pointer;
    accent-color: #00bb2d;
    margin: 1rem 1rem;
    /* color verde WhatsApp o el que prefieras */
}

.checkbox-confirmacion label {
    cursor: pointer;
    user-select: none;
    transition: .2s;
    text-decoration: underline;
}

.checkbox-confirmacion label:hover {
    color: #fff;
    transition: .2s;
}

.btn-pago {
    display: block;
    text-align: center;
    background-color: #009ee3;
    font-family: var(--title-font);
    font-size: 1rem;
    color: rgb(55, 25, 25);
    border: none;
    padding: 0.7em 1.5em;
    border-radius: 5px;
    cursor: pointer;
    margin: 1rem 0;
    width: 90%;
}

.btn-pago:hover {
    background-color: #007bbd;
}

.btn-whatsapp-succes {
    font-family: var(--title-font);
    font-size: 1rem;
    background-color: #25d366;
    color: rgb(55, 25, 25);
    border: none;
    padding: 0.7em 1.5em;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: underline;
    width: 98%;
}

.btn-copiar {
    font-family: var(--title-font);
    background-color: #f1f1f108;
    border: none;
    border-bottom: 1px solid #cccccc69;
    color: #9e9d9d;
    padding: 0.5rem 1em;
    cursor: pointer;
    transition: background 0.2s;
}

.btn-copiar:hover {
    background-color: #313131;
}

.form-error {
    font-family: var(--title-font);
    background-color: #2d2b2b;
    color: rgb(253, 17, 17);
    width: 100%;
    padding: 1rem 1rem;
    text-align: center;
}

/* checkout modal */
.comprobante {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    background: #2c2c2c;
    padding: 1rem;
    border-radius: 10px;
    color: #fff;
    text-align: left;
    margin-top: 1rem;
    backdrop-filter: blur(6px);
    text-align: center;
    font-size: 1rem;
}

.comprobante h3 {
    width: 100%;
    font-size: 1.2rem;
    font-family: var(--title-font), sans-serif;
}

.comprobante p {
    margin: 0 2rem;
}

.comprobante h4 {
    width: 100%;
}

.comprobante ul {
    padding-left: 1rem;
}

.totalCheckout {
    font-size: 2rem;
    text-decoration: underline;
}

.info-box {
    margin: 2rem 0;
    font-weight: 400;
    font-family: var(--title-font), Verdana;
    font-size: 1.2rem;
}

.info-box span {
    text-decoration: underline;
    font-size: 6rem;
}

.modalText:last-of-type {
    margin-top: 4rem;
}

.btn-whatsapp {
    display: inline-block;
    margin-top: 1rem;
    background: #25d366;
    color: rgb(25, 25, 25);
    padding: 10px 20px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    transition: background 0.3s;
}

.btn-whatsapp:hover {
    background: #1ebe57;
}

.form input {
    display: block;
    margin-bottom: 0.75rem;
    width: 100%;
    padding: 0.5rem;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 1rem;
}

.copiarPortapapeles {
    font-size: 0.8rem;
    text-align: start;
    display: inline;
    margin-right: 0.5rem;
}

/* modal cerrar advertencia dentro del modal de carrito */
.confirm-overlay {
    position: fixed;
    inset: 0;
    z-index: 2000;
    height: 110%;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    display: flex;
    align-items: center;
    justify-content: center;
    animation: fadeInConfirm 0.3s ease-out;
    font-family: var(--title-font);
}

.confirm-box {
    background: var(--color-fondo);
    border-radius: 12px;
    padding: 2rem;
    max-width: 400px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    text-align: center;
    animation: scaleIn 0.3s ease-out;
}

.confirm-box h3 {
    font-size: 1.5rem;
}

.confirm-box p {
    text-align: center;
    margin-bottom: 1rem;
    font-size: 1rem;
    width: 80%;
    margin: 1rem auto;
}

.confirm-box p:last-of-type {
    font-size: 1rem;
    width: 100%;
    margin-top: 2rem;
}

.confirm-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    gap: 1rem;
}

.btn-cancelar {
    background: #ccc;
    color: black;
    border: none;
    padding: 0.6rem 1rem;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
}

.btn-confirmar {
    background: #e53935;
    color: white;
    border: none;
    padding: 0.6rem 1rem;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
}

@keyframes fadeInConfirm {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes scaleIn {
    from {
        transform: scale(0.95);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

/* footer */
.footerContainer {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 3rem 0 0;
}

.footerContainer img {
    width: 150px;
    filter: brightness(100);
    opacity: 0.9;
}

/* stock aviso */
.stock-aviso {
    position: fixed;
    top: 2%;
    left: 50%;
    transform: translatex(-50%);
    padding: 12px 24px;
    border-radius: 8px;
    box-shadow: 0 2px 8px var(--color-secundario);
    z-index: 1000;
    font-family: var(--title-font), sans-serif;
    font-size: 1rem;
    font-weight: 400;
    background-color: var(--color-principal);
    color: var(--color-fondo);
    text-align: center;
    opacity: 0;
    animation: aparecerDesaparecer 1s ease-out forwards;
}

@keyframes aparecerDesaparecer {
    0% {
        opacity: 0;
        transform: translateY(-5px);
    }

    10% {
        opacity: 1;
        transform: translateY(0);
    }

    90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: translateY(-5px);
    }
}

/* estilos mobile */
@media (max-width: 768px) {

    body {
        padding: 0.5rem;
    }

    body::after {
        opacity: 0.02;
        background-image: url("../../assets/logo/B-negro.png");
    }

    .logo {
        height: 75px;
    }

    .tituloPrincipal {
        font-size: 1.6rem;
        margin: 0;
        margin-top: 2rem;
        padding: 0;
        line-height: 1;
        border-bottom: 2px solid #b5b2b2;
    }

    .tituloSecundario {
        font-family: var(--title-font), sans-serif;
        font-size: 1.1rem;
        margin: 0;
    }

    .stock-aviso {
        font-size: 1rem;
        top: 2%;
        left: 0;
        opacity: 0;
        animation: aparecerDesaparecerMobile 1.5s ease-out forwards;
    }

    @keyframes aparecerDesaparecerMobile {
        0% {
            opacity: 0;
            transform: translateX(-5px);
        }

        10% {
            opacity: 1;
            transform: translateX(0);
        }

        90% {
            opacity: 1;
        }

        100% {
            opacity: 0;
            transform: translateX(-5px);
        }
    }

    .filters {
        flex-flow: row;
        margin-top: 5rem;
        padding: 0 2%;
    }

    .filters input {
        min-width: auto;
        width: 49%;
        padding: 0.75rem;
        font-size: 1rem;
    }

    .filters select {
        width: 49%;
    }

    /* lista de productos */
    .product-list {
        align-items: center;
        gap: 2rem;
    }

    .product-item {
        width: 100%;
        height: auto;
    }

    .product-item .cta-content {
        justify-content: space-between;
        align-items: center;
        height: auto;
        gap: 1rem;
    }


    .categoria span {
        font-size: 1rem;
    }


    .categoria span:nth-last-of-type {
        margin-bottom: 2rem;
    }

    .button-row {
        display: flex;
        flex-flow: row;
        justify-content: center;
        align-items: center;
    }

    .product-item .cta-content button {
        font-size: 1.2rem;
        margin: 0;
    }

    .product-item .cta-content button:first-of-type {
        width: 100%;
        background-color: transparent;
        margin: 0;
        padding: 0;
        text-decoration: underline;
    }

    .product-item .cta-content button:last-of-type {
        width: 0%;
        font-size: 2.2rem;
        background-color: transparent;
        margin: 0;
        padding: 0;
    }

    .removeBtn {
        background-color: transparent;
    }

    .modal {
        width: auto;
        height: 90%;
        padding: 1rem 1rem;
        margin: 1rem;
    }

    .modalTitle {
        margin-bottom: 3rem;
    }

    .modal-product-item {
        padding: 0.5rem 0;
        width: 90%;
    }

    .modal-product-list {
        margin: 0;
        padding: 0;
    }

    .modal-content form {
        gap: 5px;
    }

    .modalText {
        font-size: 0.8rem;
    }

    .modalText:first-of-type {
        width: 100%;
    }

    .modalText:last-of-type {
        margin-top: 4rem;
    }

    .checkbox-confirmacion {
        font-size: 0.8rem;
    }

    .info-box {
        margin: 3rem 0;
    }

    .info-box span {
        font-size: 2.4rem;
    }

    .btn-whatsapp {
        width: 100%;
    }

    .btn-pago {
        width: 85%;
        font-size: 0.8rem;
    }

    /* modal de confirmaion de cierre de carrito */
    .confirm-box {
        padding: 1rem;
        max-width: 300px;
    }

    .confirm-box h3 {
        font-size: 1.3rem;
    }

    .confirm-box p {
        font-size: 0.8rem;
        width: 100%;
    }
}