:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #943151;
  background-color: #fee9f0;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --title-font:  'Cinzel-bold';
  --text-font:  'Cinzel';
  --color-principal: #943151;
  --color-secundario: #fac9d8;
  --color-fondo: #fee9f0;
}